.container {
	padding: 1.5rem;
	display: flex;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.menu__list {
	display: flex;
	gap: 2rem;
	font-weight: 500;
	list-style: none;
}

.menu__list > li:hover {
	color: #fe956f;
	cursor: pointer;
}

.search {
	padding: 0.5rem;
	width: 7rem;
	height: 30%;
	outline: none;
	border: none;
	border-radius: 5px;
}

.cart {
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.burger {
	display: none;
}

@media screen and (max-width: 856px) {
	.search {
		display: none;
	}
	.right {
		gap: 1rem;
	}
}

@media screen and (max-width: 640px) {
	.right {
		padding: 1rem;
		position: absolute;
		flex-direction: column;
		justify-content: center;
		right: 2rem;
		z-index: 100;
		background: #fff;
		color: var(--black);
		border-radius: 5px;
	}

	.burger {
		display: block;
	}

	.menu__list {
		display: none;
		margin-left: -2rem;
		flex-direction: column;
	}

	.search {
		display: none;
	}
}
